<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <title>Dooooooogs</title>
</head>
<body>
<h1>Eluwina from ZDJavaPL139 </h1>
<p>Hello Dogs from Thymeleaf</p>
<p>
<table>
    <thead>
    <tr>
        <th>Dog id:</th>
        <th>Dog name:</th>
        <th>Dog price:</th>
        <th>Dog breed:</th>
        <th>Dog image:</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="dog: ${dogs}">
        <td th:text="${dog.getId}"></td>
        <td th:text="${dog.getName}"></td>
        <td th:text="${dog.getDogBreed}"></td>
        <td th:text="${dog.getPrice}"></td>
        <td><img th:src="${dog.getPhotoUrl}" width="300"/></td>
    </tr>
    </tbody>
</table>
</p>
</body>
</html>